@import url(./fonthome.css);
@import url(./resethome.css);

.body{
    background-color: rgb(255,250,245);
}

.libborder{
    width: 150px;
    height: 1px;
    background-color: brown;
}


.librarylayout{
    display: flex;
    flex-direction: column;
}

.libraryblock{
    display: flex;
    gap: 7px;
}
header{
}

.headdiv{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
}

.sectiona{
    color: #241400;
    font-family: 'Montserrat', sans-serif;font-family: 'Roboto', sans-serif;
}
h3{
color: #E16A00;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 196.187%; /* 23.542px */
text-decoration-line: underline;
font-family: 'Montserrat', sans-serif;
}

.headersection{
display: flex;
gap: 25px;
font-family: 'Montserrat', sans-serif;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 196.187%;
}

.join{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 100px;
}

.sectionbtn{
    background-color: #E16A00;
    border: none;
    width: 150px;
    height: 30px;
    color: #FFFFFF;
    font-size: 15px;
font-style: normal;
font-weight:900;
line-height: 196.187%;
font-family: 'Montserrat', sans-serif;
}

.bookfrom{
    font-weight: 900;
}

.sectionpage {
    display: flex;
    justify-content: center;
    gap: 239px;
    align-items: center;
    
}

.secpag{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;

}

.textp{
width: 370px;
font-family: 'Montserrat', sans-serif;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 196.187%;
color: #241400;
}

.cardall{
    display: flex;
    flex-direction: row-reverse;
}

section{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 190px;
}

.booktext{
    color: #241400;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    line-height: 196.187%;
}

.librarytext{
color: #720418;
font-family: 'Montserrat', sans-serif;
font-size: 17px;
font-style: normal;
font-weight: 900;
line-height: normal;
}

.bookstore{
font-family: 'Montserrat', sans-serif;
font-size: 13px;
font-style: normal;
font-weight: 400;
margin-left: 5px;
}

.cardmom{
    display: flex;
width: 490px;
height: 400px;
flex-shrink: 0;
}



/* ---- css for main */

.maincatalog{
    color: #000000;
font-size: 25px;
font-style: normal;
font-weight: 900;
line-height: 196.187%;
font-family: 'Montserrat', sans-serif;
}

.secCatalog{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.catalogcard{
display: flex;
justify-content: center;
align-items: center;
width: 210px;
height: 65px;
font-weight:700;
flex-shrink: 0;
border-radius: 5px;
background: #FFFFFF;
font-family: 'Montserrat', sans-serif;
box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.25);
}

.catalogbox1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.catalogboxmom{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.aboutboxmom{
    display: flex;
    justify-content: center;
    gap: 60px;
    
}

.aboutbox1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.secabout{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.aboutnumb{
font-size: 50px;
font-style: normal;
font-weight: 900;
line-height: 196.187%;
font-family: 'Montserrat', sans-serif;
}

.aboutbox1 p{
    font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 196.187%; 
font-family: 'Montserrat', sans-serif;
}

.maindelivery{
    color: #000000;
font-size: 25px;
font-style: normal;
font-weight: 900;
line-height: 196.187%;
font-family: 'Montserrat', sans-serif;
}

.secdelivery{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.deliverytext{
color: #241400;
width: 1160px;
text-align: center;
font-size: 15px;

font-weight:400;
line-height: 196.187%;
font-family: 'Montserrat', sans-serif;
}


/* media section */

#sectionThree {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 148px;
    margin-bottom: 72px;
  }
  #sectionThree span {
    color: #241400;
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 900;
    line-height: 196.187%;
  }
  #sectionThree .icons {
    display: flex;
    gap: 54px;
    margin-top: 22px;
  }


  /* Footer */

  .footerpage{
    background-color: #391F00;
display: flex;
flex-direction: column;
/* display: flex;
justify-content: space-between;
width: 100%;
height: 200px;
flex-shrink: 0;
background-color: #391F00;
box-sizing: border-box;
padding-left: 192px;
padding-right: 186px; */
  }

  .footerlibtext{
    color: #FFFFFF;
font-family: 'Montserrat', sans-serif;
font-size: 17px;
font-style: normal;
font-weight: 900;
line-height: normal;
  }

  .footerbookstr{
    color: #FFFFFF;
font-family: 'Montserrat', sans-serif;
font-size: 13px;
font-style: normal;
font-weight: 400;
margin-left: 5px;
  }

  .footerlibbor{
    width: 150px;
    height: 1px;
    background-color: #FFFFFF;
  }

  .popularTag{
    color: #FFFFFF;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
  }

  .footerTag{
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
  }

.footertagbox{
    display: flex;
    gap: 91px;
    margin-top: 56px;
}

.footerallbox{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tagbox{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footerlibblock{
    display: flex;
    gap: 7px;
    margin-top: 100px;
}

.footerMain{
    display: flex;
justify-content: space-between;
width: 100%;
height: 200px;
flex-shrink: 0;
background-color: #391F00;
box-sizing: border-box;
padding-left: 192px;
padding-right: 186px;
}

.textend{
    text-align: center;
    color: #FFFFFF;
    margin-top: 77px;
    font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 196.187%;
font-family: 'Montserrat', sans-serif;
}