body {
  background: #720418;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
}
header {
  width: 100%;
  position: fixed;
  top: 0;
  padding-left: 2.1875rem;
  padding-top: 1.685rem;
  background-color: #720418;
}
header .logo-box {
  position: fixed;
  display: flex;
  gap: 0.4988rem;
  justify-content: flex-start;
  align-items: center;
}
header .logo-box .logo-writing {
  display: flex;
  flex-direction: column;
  max-width: 12.6728rem;
}
header .logo-box .logo-writing span:first-child {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-bottom: 0.3794rem;
}
header .logo-box .logo-writing .line {
  width: 12.6728rem;
  height: 0.0625rem;
  background: rgba(255, 255, 255, 0.59);
}
header .logo-box .logo-writing span:last-child {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 196.187%;
  margin-left: 0.2994rem;
  margin-top: 0.2531rem;
}
main .container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7.5625rem;
}


.alert{
  display: none;
  margin-top: 10px;
}

/* .submitBtn{
  margin-top: 10px;
  width: 550px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 5px;
border: 1px solid #CECECE;
background: #E16A00;
color: #FFF;

text-align: center;
font-family: 'Crimson Text', serif;
font-size: 19px;
font-style: normal;
font-weight: 700;
line-height: normal;
} */



main .container .login-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 4.3125rem;
  padding-bottom: 2.1481rem;
  background: #fff;
  max-width: 41.375rem;
  width: 100%;


}

main .container .login-box h1 {
  color: #000;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 2.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  height: 5.0625rem;
}
main .container .login-box .inputs {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.125rem;
}
main .container .login-box .inputs input {
  width: 34.5586rem;
  height: 4.6588rem;
  flex-shrink: 0;
  border: 0.0625rem solid #cecece;
  background: #fff;
  box-sizing: border-box;
  padding-top: 1.1269rem;
  padding-left: 3.2275rem;
  padding-bottom: 1.1269rem;
  color: #797667;
  font-family: "Crimson Text", serif;
  font-size: 1.1875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
main .container .login-box button {
  margin-top: 5.2838rem;
  width: 34.5586rem;
  height: 4.6588rem;
  flex-shrink: 0;
  border-radius: 0.3125rem;
  border: 0.0625rem solid #cecece;
  background: #e16a00;
  color: #fff;
  text-align: center;
  font-family: "Crimson Text", serif;
  font-size: 1.1875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
main .container .login-box .password {
  position: relative;
}
main .container .login-box .password img {
  cursor: pointer;
  position: absolute;
  top: 25px;
  right: 14px;
  background-color: white;
}
main .container .login-box .password .hide {
  display: none;
}
@media screen and (max-width: 755px) {
/* 
  main .container .login-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4.3125rem;
    padding-bottom: 2.1481rem;
    background: #fff;

    width: 500px;
  margin-top:20px;
   
  } */
 
   .userInpt{
    width: 300px;
   
  }

 .login-box{
    margin-bottom: 30px;
  }
 
.passwordInpt{
    width: 300px;
  }

  header .logo-box {
    position: fixed;
    display: flex;
    gap: 0.4988rem;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
  }

  header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    background-color: #720418;
  }
  img {
    width: 35.882px;
    height: 54px;
    flex-shrink: 0;
  }
  .logo-box {
    max-width: 151.217px;
    height: 54px;
  }
  .logo-writing {
    max-width: 108.5px;
  }
  .logo-writing .line {
    width: 108.5px;
    height: 1px;
  }
  .logo-writing span {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    margin: 0px;
  }
  .logo-writing span:first-child {
    color: #fff;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }
  .logo-writing span:last-child {
    color: #fff;
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 196.187%; /* 25.504px */
  }
  /* main .container {
    width: 430px;
    display: flex;
    margin-top: 70px;

  } */
  main .container .login-box .password img {
    cursor: pointer;
    position: absolute;
    top: 26px;
    right: 8px;
    width: 22px;
    height: auto;
  }
  .login-box {
    margin: auto;
    margin-bottom: 50px;
  }
  .inputs {
    margin-top: 4.0625rem;
  }
  .inputs input {
    max-width: 12.038rem;
    height: 2.5524rem;
  }
  main .container .login-box .inputs input {
    padding-top: 18px;
    padding-left: 18px;
    padding-bottom: 18px;
}
  .welcome-text {
    max-width: 152px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .login-box {
    display: inline;
  }
  .login-box h1 {
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  button {
    max-width: 193.491px;
    height: 37.697px;
  }
}
